<div class="col-md-3"></div>

<div class="col-md-7 text-center" *ngIf= "nombreencuesta!=undefined" > 
  
        <div class="list-group">
          <a  class="list-group-item active">
            Agregar Información a {{nombreencuesta}} del {{fecha}}
          </a>

          <div class="input-group">
            <select  class="form-control" [(ngModel)]="sexo" >
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
         <span class="input-group-btn">
          <button class="btn btn-default" type="button" >Sexo</button>
        </span>
      </div><!-- /input-group -->
  
      <div class="input-group">
        <select  class="form-control" [(ngModel)]="tipoUsuario" >
          <option value="Poblacion pobre no asegurada">Poblacion pobre no asegurada</option>
          <option value="Subsidiado">Subsidiado</option>
          <option value="Contributivo">Contributivo</option>
          <option value="Particular">Particular</option>
        </select>
     <span class="input-group-btn">
      <button class="btn btn-default" type="button" >Tipo de usuario</button>
    </span>
  </div><!-- /input-group -->
  
  
           <div *ngFor="let categoria of categorias">
               <div class="input-group">
                
                <li class="list-group-item"  > {{categoria.nombre}} </li>  
                <span class="input-group-addon" *ngFor="let fake of fakeArray ; let idx = index" >
                     <div >
                    <button id="{{categoria.nombre}}-{{idx+1}}" (click)="seleccion($event,categoria)" class="form-control"> {{idx+1}} </button>
                     </div>
                </span>
                            
               </div>
  
               <div *ngFor="let subCategoria of categoria.subCategorias">
  
                 <div class="col-md-1 text-center"> 
                </div>
  
                <div class="input-group">
                
                <li class="list-group-item"   > {{subCategoria.nombre}} </li>  
                <span class="input-group-addon" *ngFor="let fake of fakeArray ; let idx = index" >
                    <div >
                    <button id="{{categoria.nombre}}+{{subCategoria.nombre}}-{{idx+1}}" (click)="seleccion($event,subCategoria)" class="form-control"> {{idx+1}} </button>
                     </div>
                </span>
                            
               </div>
  
               </div>
  
  
  
  
          </div>
  
  
          <br>
          <button class="btn btn-primary" (click)="actualizar()" > Enviar </button>
         
        </div>
   
          
  
  
    </div>

    <div class="col-md-7"  *ngIf= "nombreencuesta==undefined">

      Encuesta enviada correctamente


    </div>